*{
    margin:0 ;
    padding: 0;
}
body{
    background-color:  hsl(275, 100%, 97%);
}
.header_wrapper{
    background: url(./assets/images/background-pattern-desktop.svg) no-repeat;
    background-size:cover ;
  
}