*{
    margin:0 ;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
}
body{
    background-color:  hsl(275, 100%, 97%);

}
.header_wrapper{
    background: url(./assets/images/background-pattern-desktop.svg) no-repeat center center;
    background-size:cover ;
    padding: 120px;
    height: 200px;

  
}
.faq_wrapper{
    width: 600px;
    height: auto;
    padding: 20px;
    background: hsl(0, 0%, 100%);
    margin:0px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.faq_header{
    display: flex;
    align-items: center;
    column-gap: 10px;
   
}
.faq_header h2{
    font-size: 50px;
    /* text uppercase */

    font-weight: 700;
    
}
.faq_body{
    margin-top: 20px;
}
.faq_item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.09) ;
    
}

.faq_body_show_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}
.faq_body_show_text h5{
    font-size: 20px;
    font-weight: 600;
}
.faq_body_hide_text p{
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
}